<h1>Appointment Details</h1>

<%= @appointment.date.strftime("%B %d, %Y") %>
<p><strong>Reason:</strong> <%= @appointment.reason %></p>
<p><strong>Status:</strong> <%= ["Scheduled", "In Progress", "Completed", "Cancelled"][@appointment.status] %>

<p>
  <strong>Pet:</strong>
  <%= link_to @appointment.pet.name, pet_path(@appointment.pet) %>
</p>

<p>
  <strong>Vet:</strong>
  <%= link_to "#{@appointment.vet.first_name} #{@appointment.vet.last_name}", vet_path(@appointment.vet) %>
</p>

<h2>Treatments</h2>

<ul>
  <% @appointment.treatments.each do |treatment| %>
    <li>
      <strong><%= treatment.name %></strong> -
      <%= treatment.medication %> -
      <%= treatment.dosage %> -
      <%= treatment.administered_at.strftime("%B %d, %Y") %><br>
      <%= treatment.notes %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Appointments", appointments_path %>